body{
	background: #f7f9fa;
	color: #5a5a5a;
	 font-family: 'Truth FB Regular', sans-serif;
	 font-weight: 600;
}

caption {
	text-align: left;
	padding: 10px 0px 10px ; 
}

.main{
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	width: 89%;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #bfbfbf;	
}

th {
	background: #ecf0f3;
	font-weight: 100;
	text-align: right;
	padding-right: 2%;
	padding-top: 4px;
	padding-bottom: 6px;
	border-bottom: 1px #d8d9da solid;
	color: #545454;
}
 
.dark{
	background: #fbfbfb;
}

.light{
	background: #ffffff;
}

.photo{
	float: left;
	margin: 5px 2px 2px 10px;
}

.text {
	float: left;
	margin-left: 10px;
}

.name{
	float:left;
	color: #2c76c7;
	font-size: 15px;
	margin-top: 5px;
}

.plus{
	float:left;
	margin-left: 10px;
	margin-top: 5px;
}

.graph{
	float:left;
	padding-top: 10px;
}

.count{
	float:left;
	margin-left: 5px;
	padding-top: 10px;
}

.column{
	text-align: right;
	padding-right: 2%;
	color: #5a5a5a;
}

#footer{
	padding-left: 40%;
}

#button{
	width: 105px;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #ffffff;
	text-align: center;
	border: 1px solid #bfbfbf;
	font-size: 14px;
	border-radius: 3px;
	border-top: 1px dashed;
}

a{
	text-decoration: none;
	color: #2c76c7;
}

#people-image{
	float:left;
}

#people-text{
	float: left;
	margin-left: 6px;
}

@media screen and (max-width: 580px){
	.name{
		padding-left: 0;
	}
}

@media screen and (max-width: 475px){
	.body{
		font-size: 5px;
	}
	.graph {
		margin-right: 20px;
		margin-top: 10px;
	}

	#footer{
		padding-left: 30%;
	}

}

.plus{
	margin-left: 10px;
	margin-top: 5px;
	position: relative;

}

.follow{
	position:absolute;
	margin-top: -18px;
	width:70px;
    height:15px;
    background:#a4c574;
	border-radius: 10px;
    color:#ffffff;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 2px;
	position: absolute;
	display: none;  
}

.plus:hover .follow{
    display:block;
}

.checkmark{
	float: left;
	margin-left: -14px;
	margin-top: 5px;
	position: absolute;
	display: none;

}

#followbut{
	display: none;
}
#followbut:checked ~ .checkmark {
  	display: block;
}

.column1-light{
	float:left;
	margin-left: 73px;
	background: #ffffff;
	width: 555px;
	height: 60px;
	border-left: 1px solid #bfbfbf;
}
.column2-light{
	float:left;
	margin-left: 0px;
 	background: #ffffff;
	width: 135px;
	height: 40px;
	text-align: right;
	padding-top: 20px;
}
.column3-light{
	float:left;
	background: #ffffff;
	width: 235px;
	height: 40px;
	text-align: right;
	padding-top: 20px;
}
.column4-light{
	float:left;
	background: #ffffff;
	width: 238px;
	height: 40px;
	text-align: right;
	padding-top: 20px;
	padding-right: 23px;
	border-right: 1px solid #bfbfbf;
}

.column1-dark{
	float:left;
	margin-left: 73px;
	background: #fbfbfb;
	width: 555px;
	height: 60px;
	border-left: 1px solid #bfbfbf;
}

.column2-dark{
	float:left;
	margin-left: 0px;
 	background: #fbfbfb;
	width: 135px;
	height: 40px;
	text-align: right;
	padding-top: 20px;
}

.column3-dark{
	float:left;
	background: #fbfbfb;
	width: 235px;
	height: 40px;
	text-align: right;
	padding-top: 20px;
}

.column4-dark{
	float:left;
	background: #fbfbfb;
	width: 238px;
	height: 40px;
	text-align: right;
	padding-top: 20px;
	padding-right: 23px;
	border-right: 1px solid #bfbfbf;
}

.more-lines{
	display: none;
}

#show{
	display: none;
}

#show:checked ~ .more-lines{
	display: block;
}

